body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

.logo {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 12px;
}

.card {
  text-decoration: none;
  color: black;
}

.img-box {
  width: 100%;
  aspect-ratio: 9/16;
  overflow: hidden;
  border-radius: 10px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3, .card h4 {
  text-align: center;
  font-weight: 700;
  margin: 6px;
}

.main-img {
  width: 100%;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 14px;
  width: 90%;
  text-align: center;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  text-decoration: none;
}

.play { background: black; }
.tg { background: #0088cc; }

.more {
  padding: 10px;
  font-weight: 800;
}
