body{margin:0;font-family:Arial;background:#f2f2f2}
header{
  background:#16a085;
  color:#fff;
  text-align:center;
  padding:12px;
  font-size:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

.card{
  background:#fff;
  border-radius:6px;
  overflow:hidden;
  text-decoration:none;
  color:#000;
}

.card img,
.post img{
  width:100%;
  aspect-ratio:4/3;
  object-fit:cover;
}

.card span{
  display:block;
  padding:6px;
  font-size:13px;
  text-align:center;
}

.post{
  background:#fff;
  margin:10px;
  padding:10px;
  border-radius:6px;
}

.btn{
  display:block;
  margin:8px 0;
  padding:10px;
  text-align:center;
  color:#fff;
  text-decoration:none;
  border-radius:20px;
  font-weight:bold;
}

.tera{background:#e53935}
.tg{background:#0088cc}

.tgtext{
  font-size:13px;
  text-align:center;
  color:#555;
}
