#poster-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.poster {
  text-decoration: none;
  color: black;
}

.poster img {
  width: 100%;
  border-radius: 6px;
}

.poster h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
