body {
  background:#111;
  color:white;
  font-family:Arial;
}

.grid {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  padding:10px;
}

.poster img {
  width:100%;
  border-radius:8px;
}

.poster p {
  text-align:center;
}

.btn {
  display:block;
  background:red;
  padding:12px;
  margin:10px;
  text-align:center;
  color:white;
  text-decoration:none;
  border-radius:6px;
}
